@layer reset, leaflet, base, tokens, recipes, utilities;

@layer base {
  html,
  body,
  #root {
    height: 100%;
  }

  body {
    background: var(--colors-background);
    color: var(--colors-white);
    -webkit-font-smoothing: antialiased;
  }

  body,
  input,
  button {
    font-family: Nunito, serif;
    font-size: 16px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  strong {
    font-weight: 500;
  }

  button {
    cursor: pointer;
  }
}
